#tweetDiv {
    margin-left: 50px;
    margin-right: 50px;
}

#tweetOriginalDiv {
    /* background-color: rgb(218, 228, 249); */
} 

#tweetLikesDiv {
    /* background-color: rgb(255, 224, 229); */
    /* background-color: rgb(248, 218, 218); */
}

#choiceButtonDiv {
    margin-left: 30px;
}

.single_button_div {
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

/* img{
    width:300px;
    height:300px;
    object-fit:contain
} */
